.card-header.student {
  font-family: Verdana;
  font-size: 14px;
  min-height: 35px;
}
.card-body.student {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
}
.card-subtitle.student {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
}
.text-card-body {
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
}

table.student {
  min-width: 90%;
  max-width: 90%;
  align-self: center;
  font-family: Verdana;
  font-size: 13px;
  font-weight: 500;
  border-collapse: collapse;
  border-radius: 20px;
}

table,
td,
tr.student {
  white-space: nowrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
th.student {
  line-height: 40px;
  font-size: 16px;
}
