.card-header.student.green {
  background-color: rgb(31, 128, 115);
}
.card-header.student.blue {
  background-color: rgba(18, 144, 218, 0.89);
  color: rgba(238, 240, 241, 0.89);
}
.card-header.student.yellow {
  background-color: rgb(241, 191, 83);
  color: rgba(49, 56, 59, 0.89);
}
.card-header.student.orange {
  background-color: rgb(202, 92, 29);
  color: white;
}
.card-body.student.green {
  background-color: rgb(243, 247, 242);
}
.card-body.student.blue {
  background-color: rgb(230, 247, 247);
}
.card-body.student.yellow {
  background-color: rgb(240, 238, 218);
}
.card-body.student.orange {
  background-color: rgb(248, 236, 230);
}
table.student.green {
  background-color: rgb(157, 196, 163);
  color: rgba(4, 54, 33, 0.89);
}
table.student.blue {
  background-color: rgb(119, 209, 250);
  color: rgba(10, 38, 56, 0.89);
}
table.student.yellow {
  background-color: rgb(240, 213, 138);
  color: rgba(53, 44, 3, 0.89);
}
table.student.orange {
  background-color: rgb(223, 172, 143);
  color: rgb(90, 35, 3);
}
table,
td,
tr.student.green {
  border-bottom: 1px solid;
  border-color: rgb(48, 114, 83);
}
table,
td,
tr.student.blue {
  border-bottom: 1px solid;
  border-color: rgb(27, 84, 117);
}
table,
td,
tr.student.yellow {
  border-bottom: 1px solid;
  border-color: rgb(114, 90, 9);
}
table,
td,
tr.student.orange {
  border-bottom: 1px solid;
  border-color: rgb(92, 35, 1);
}
.card-header.batch.green {
  background-color: rgb(98, 145, 138);
}
.card-header.batch.blue {
  background-color: rgb(41, 148, 190);
}
.card-header.batch.yellow {
  background-color: rgb(241, 191, 83);
  color: black;
}
.card-header.batch.orange {
  background-color: rgb(202, 92, 29);
  color: white;
}
.card-body.batch.green {
  background-image: linear-gradient(to right, rgb(0, 27, 18), white);
}
.card-body.batch.blue {
  background-image: linear-gradient(to right, rgb(1, 35, 51), white);
}
.card-body.batch.yellow {
  background-color: rgb(223, 222, 213);
}
.card-body.batch.orange {
  background-image: linear-gradient(to right, rgb(51, 28, 1), white);
}
div.current.green {
  background-color: rgb(177, 230, 208);
}
div.current.blue {
  background-color: rgb(165, 192, 250);
}
div.current.yellow {
  background-color: rgb(250, 235, 184);
}
div.current.orange {
  background-color: rgb(236, 187, 157);
}
div.next.green {
  background-color: rgb(130, 209, 176);
}
div.next.blue {
  background-color: rgb(141, 175, 248);
}
div.next.yellow {
  background-color: rgb(248, 211, 89);
}
div.next.orange {
  background-color: rgb(236, 169, 128);
}
.right-arrow.green {
  border-top: 32px solid rgb(130, 209, 176);
  border-bottom: 32px solid rgb(130, 209, 176);
  border-left: 32px solid rgb(177, 230, 208);
}
.right-arrow.blue {
  border-top: 32px solid rgb(141, 175, 248);
  border-bottom: 32px solid rgb(141, 175, 248);
  border-left: 32px solid rgb(165, 192, 250);
}
.right-arrow.yellow {
  border-top: 32px solid rgb(248, 211, 89);
  border-bottom: 32px solid rgb(248, 211, 89);
  border-left: 32px solid rgb(250, 235, 184);
}
.right-arrow.orange {
  border-top: 32px solid rgb(236, 169, 128);
  border-bottom: 32px solid rgb(236, 169, 128);
  border-left: 32px solid rgb(236, 187, 157);
}
.left-end.green {
  border-top: 32px solid rgb(177, 230, 208);
  border-bottom: 32px solid rgb(177, 230, 208);
  border-left: 32px solid transparent;
}
.left-end.blue {
  border-top: 32px solid rgb(165, 192, 250);
  border-bottom: 32px solid rgb(165, 192, 250);
  border-left: 32px solid transparent;
}
.left-end.yellow {
  border-top: 32px solid rgb(250, 235, 184);
  border-bottom: 32px solid rgb(250, 235, 184);
  border-left: 32px solid transparent;
}
.left-end.orange {
  border-top: 32px solid rgb(236, 187, 157);
  border-bottom: 32px solid rgb(236, 187, 157);
  border-left: 32px solid transparent;
}
.right-end.green {
  border-left: 32px solid rgb(130, 209, 176);
}
.right-end.blue {
  border-left: 32px solid rgb(141, 175, 248);
}
.right-end.yellow {
  border-left: 32px solid rgb(248, 211, 89);
}
.right-end.orange {
  border-left: 32px solid rgb(236, 169, 128);
}
.smaller-text {
  font-size: 9px;
}
.sm-text {
  font-size: 10px;
}
.text-10 {
  font-size: 10px;
}
.text-11 {
  font-size: 11px;
}
.text-32 {
  font-size: 32px;
}
.medium-text {
  font-size: 12px;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-18 {
  font-size: 18px;
}
.medium-plus-text {
  font-size: 14px;
}
.large-text {
  font-size: 16px;
}
.large-plus1-text {
  font-size: 28px;
}
.text-25 {
  font-size: 25px;
}
.large-plus-text {
  font-size: 21px;
}
.text-lightgrey {
  color: rgb(226, 222, 222);
}
.text-lightgrey2 {
  color: rgb(151, 149, 149);
}
.text-lightgrey3 {
  color: rgb(129, 128, 128);
}
.text-darkgrey {
  color: rgb(102, 100, 100);
}
.text-lightgreyplus {
  color: rgb(124, 121, 121);
}
.text-gold {
  color: rgb(218, 185, 3);
}
.text-yellow {
  color: yellow;
}
.text-danger {
  color: red;
}

.large-plus-text {
  font-size: 18px;
}
.full-height-120 {
  min-height: 120vh;
  min-width: 100%;
}
.full-height {
  min-height: 80vh;
  min-width: 100%;
}
.full-height-5 {
  min-height: 120vh;
}
.height-100 {
  height: auto;
}
.height-40 {
  max-height: 80%;
}
.min-width-80 {
  min-width: 80%;
}
.w-0px {
  min-width: 0%;
  max-width: 0%;
}
.w-2 {
  min-width: 2%;
  max-width: 2%;
}
.w-2p5 {
  min-width: 2.5%;
  max-width: 2.5%;
}
.w-5 {
  min-width: 5%;
  max-width: 5%;
}
.w-8 {
  min-width: 8%;
  max-width: 8%;
}
.w-10 {
  min-width: 10%;
  max-width: 10%;
}
.w-12 {
  min-width: 12%;
  max-width: 12%;
}
.w-15 {
  min-width: 15%;
  max-width: 15%;
}
.w-18 {
  min-width: 18%;
  max-width: 18%;
}
.w-20 {
  min-width: 20%;
  max-width: 20%;
}
.w-22 {
  min-width: 22%;
  max-width: 22%;
}
.w-24 {
  min-width: 24%;
  max-width: 24%;
}
.w-35 {
  min-width: 35%;
  max-width: 35%;
}
.w-40 {
  min-width: 40%;
  max-width: 40%;
}
.w-50p {
  min-width: 50%;
  max-width: 50%;
}
.w-49 {
  min-width: 49%;
  max-width: 49%;
}
.w-47 {
  min-width: 47%;
  max-width: 47%;
}
.w-35 {
  min-width: 35%;
  max-width: 35%;
}
.w-77 {
  min-width: 77%;
  max-width: 77%;
}
.w-57 {
  min-width: 57%;
  max-width: 57%;
}
.w-60 {
  min-width: 60%;
  max-width: 60%;
}
.w-70 {
  min-width: 70%;
  max-width: 70%;
}
.w-80 {
  min-width: 80%;
  max-width: 80%;
}
.w-82 {
  min-width: 82%;
  max-width: 82%;
}
.w-85 {
  min-width: 85%;
  max-width: 85%;
}
.w-90 {
  min-width: 88%;
  max-width: 88%;
}
.w-95 {
  min-width: 95%;
  max-width: 95%;
}
.w-96 {
  min-width: 96%;
  max-width: 96%;
}
.w-98 {
  min-width: 98%;
  max-width: 98%;
}
.wp-100 {
  min-width: 100px;
  max-width: 100px;
}
.wp-75 {
  min-width: 75px;
  max-width: 75px;
}
.wp-60 {
  min-width: 60px;
  max-width: 60px;
}
.wp-50 {
  min-width: 50px;
  max-width: 50px;
}
.wp-300 {
  min-width: 300px;
  max-width: 300px;
}

.h-0 {
  max-height: 0px;
  min-height: 0px;
}
.h-50 {
  min-height: 50px;
}
.h-40 {
  min-height: 40px;
}
.h-36 {
  min-height: 36px;
}
.h-10 {
  min-height: 10px;
}

.h-75 {
  min-height: 76px;
}

.h-90px {
  min-height: 95px;
  max-height: 95px;
}

.h-100px {
  min-height: 100px;
  max-height: 100px;
}

.h-70 {
  min-height: 150px;
}
.h-170 {
  min-height: 170px;
}
.h-80 {
  min-height: 220px;
}
.hp-30 {
  min-height: 25px;
  max-height: 25px;
}
.hp-100 {
  min-height: 200px;
  max-height: 200px;
}
.h-400px {
  min-height: 400px;
  max-height: 400px;
}
.h-500px {
  min-height: 430px;
  max-height: 430px;
}
.h-35px {
  min-height: 20px;
}
.h-35 {
  min-height: 35%;
  max-height: 35%;
}
.h-55 {
  min-height: 55%;
  max-height: 55%;
}
.h-100 {
  min-height: 100%;
  max-height: 100%;
}
.h-90 {
  min-height: 90%;
  max-height: 90%;
}
.button-height-40 {
  min-height: 40px;
}
.button-height-50 {
  min-height: 50px;
}
.grey-light-border {
  border: solid 1px rgb(241, 237, 237);
}
.text-verdena {
  font-family: Arial, Helvetica, sans-serif;
}
.text-cursive {
  font-family: cursive;
}
.text-georgia {
  font-family: Georgia;
}

.text-Palatino {
  font-family: Palatino;
}
.text-helvetica {
  font-family: "Arial Narrow";
}
.text-high-tower {
  font-family: "High Tower Text";
}
.rounded-25 {
  border-radius: 25px;
}
.rounded-20 {
  border-radius: 20px;
}
.rounded-15 {
  border-radius: 15px;
}
.rounded-10 {
  border-radius: 10px;
}
.rounded-5 {
  border-radius: 5px;
}
.rounded-left-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rounded-right-20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rounded-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.rounded-right-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.rounded-top-left-10 {
  border-top-left-radius: 10px;
}
.rounded-top-right-10 {
  border-top-right-radius: 10px;
}
.rounded-top-left-5 {
  border-top-left-radius: 5px;
}
.rounded-top-right-5 {
  border-top-right-radius: 5px;
}
.rounded-top-right-n-10 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.rounded-bottom-right-10 {
  border-bottom-right-radius: 10px;
}
.rounded-bottom-left-10 {
  border-bottom-left-radius: 10px;
}
.rounded-bottom-right-5 {
  border-bottom-right-radius: 5px;
}
.rounded-bottom-left-5 {
  border-bottom-left-radius: 5px;
}
.rounded-right-0 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-end-end-radius: 0px;
}
.background-light-grey {
  background-color: rgb(250, 246, 246);
}
.background-grey {
  background-color: rgb(241, 240, 240);
}
.background-grey-plus {
  background-color: rgb(236, 236, 236);
}
.background-grey-plus1 {
  background-color: rgb(221, 217, 217);
}
.background-grey-plus2 {
  background-color: rgb(185, 184, 184);
}
.background-grey-plus3 {
  background-color: rgb(88, 93, 100);
}
.background-blue {
  background-color: rgb(25, 153, 212);
}
.background-dark-blue {
  background-color: rgb(4, 100, 145);
}
.background-white {
  background-color: white;
}
.background-green {
  background-color: rgb(6, 156, 144);
}
.batchList.green {
  background-color: rgb(31, 128, 115);
}
.batchList.blue {
  background-color: rgb(1, 127, 201);
  color: rgba(254, 255, 255, 0.89);
}
.batchList.yellow {
  background-color: rgb(241, 191, 83);
  color: rgba(49, 56, 59, 0.89);
}
.batchList.orange {
  background-color: rgb(202, 92, 29);
  color: white;
}
.background.blue {
  background-color: rgba(250, 67, 21, 0.76);
}
.background.green {
  background-color: rgba(250, 67, 21, 0.76);
}
.background.orange {
  background-color: rgba(4, 160, 134, 0.76);
}
.background-grad.blue {
  background-image: linear-gradient(to right, rgb(7, 119, 224), white);
}
.background-grad.green {
  background-image: linear-gradient(to right, rgb(6, 179, 155), white);
}
.background-grad.orange {
  background-image: linear-gradient(to right, rgba(144, 6, 179, 0.856), white);
}
.background-grad-grey {
  background-image: linear-gradient(to left, rgba(224, 224, 224, 0.856), white);
}
.background-grad.darkblue {
  background-image: linear-gradient(
    to right,
    rgb(3, 72, 94),
    rgb(122, 178, 252)
  );
}
.background-grad-greyplus {
  background-image: linear-gradient(
    to right,
    rgba(229, 226, 226, 0.856),
    white
  );
}
.background-grad-vertical.blue {
  background-image: linear-gradient(to top, rgba(90, 161, 241, 0.856), white);
}
.background-grad-vertical.green {
  background-image: linear-gradient(to top, rgba(93, 226, 153, 0.856), white);
}
.background-red {
  background-color: rgba(194, 19, 7, 0.884);
}
.background-pink {
  background-color: rgba(245, 174, 169, 0.884);
}
.background-dark-blue {
  background-color: rgb(3, 72, 94);
}
.border-white {
  border: solid 1px white;
}
.border-grey {
  border: solid 1px rgb(224, 222, 222);
}

.border-grey-2 {
  border: solid 1px rgb(163, 158, 158);
}
.border-grey-3 {
  border: solid 1px rgb(114, 109, 109);
}
.border-green {
  border: solid 2px rgb(5, 223, 157);
}
.border-greyplus1 {
  border: solid 1px rgba(201, 199, 199, 0.938);
}
.left-border.orange {
  border-left: solid 5px rgba(4, 160, 134, 0.76);
}
.left-border-blue {
  border-left: solid 7px rgb(1, 127, 201);
}
.left-border.green {
  border-left: solid 7px rgba(250, 67, 21, 0.76);
}
.left-border.blue {
  border-left: solid 7px rgba(250, 67, 21, 0.76);
}
.left-border-grey {
  border-left: solid 1px rgb(235, 232, 232);
}
.right-border.green {
  border-right: solid 7px rgb(2, 235, 165);
}
.right-border.red {
  border-right: solid 7px rgb(235, 2, 2);
}
.right-border.grey {
  border-right: solid 7px grey;
}
.right-border-grey1px {
  border-right: solid 1px rgb(235, 232, 232);
}
.right-border.yellow {
  border-right: solid 7px rgb(225, 228, 73);
}
.right-border-white {
  border-right: solid 2px white;
}
.right-border-white1px {
  border-right: solid 1px white;
}
.border-right {
  border-right: solid 1px grey;
}
.left-border-white {
  border-left: solid 2px white;
}
.left-border-white1px {
  border-left: solid 0.1px white;
}
.border-b-card-green {
  border-bottom: solid 10px rgb(6, 156, 144);
}
.border-bottom.grey {
  border-bottom: solid 10px rgb(184, 185, 185);
}
.bottom-border-grey {
  border-bottom: solid 1px rgb(235, 232, 232);
}
.border-b-grey {
  border-bottom: solid 0px rgb(184, 185, 185);
}
.border-b-grey-1 {
  border-bottom: solid 1px rgb(80, 196, 196);
}
.border-t-grey {
  border-top: solid 1px rgb(184, 185, 185);
}
.border-t-025 {
  border-top: solid 0.001px rgb(227, 233, 233);
}
.border-dot-grey {
  border: dotted 1px rgb(239, 241, 241);
}
.rt {
  margin-right: 1px;
}
.mt-ng-1 {
  margin-top: -1px;
}
.mb05 {
  margin-bottom: 0.5px;
}

.mr1 {
  margin-right: 1px;
}

.letter-s15 {
  letter-spacing: 15px;
}
.letter-s3 {
  letter-spacing: 3px;
  word-spacing: 4px;
}
.letter-s4 {
  letter-spacing: 9px;
  word-spacing: 5px;
}
.letter-s2p5 {
  letter-spacing: 2.5px;
}
.letter-s2 {
  letter-spacing: 2px;
}
.letter-s1 {
  letter-spacing: 1px;
}
.letter-s0 {
  letter-spacing: 0px;
}
.letter-s1p5 {
  letter-spacing: 1.5px;
}
.model.close.hover {
  background-color: red;
}
.auto-scroll {
  overflow: auto;
}
div.list-group-item:focus {
  background-color: rgb(201, 241, 248);
  color: rgb(189, 5, 5);
}
.feedBox {
  outline: 0px solid transparent;
  box-sizing: unset;
  display: block;
}
.myposition {
  left: 0px;
  top: 0px;
}
.navbar > .active {
  background-color: #057bc9;
}
.cur-pointer {
  cursor: pointer;
}
.term.btn.btn-outline-secondary.active.active,
.term.btn.btn-outline-secondary.active:active {
  background-color: rgb(3, 184, 93);
}
.term.btn.btn-outline-secondary.hover,
.term.btn.btn-outline-secondary:hover {
  background-color: rgb(238, 236, 236);
}
.term.btn.btn-secondary.active.active,
.term.btn.btn-secondary.active:active {
  background-color: rgb(3, 184, 93);
}
.course.btn.btn-outline-secondary.active.active,
.course.btn.btn-outline-secondary.active:active {
  background-color: rgb(3, 184, 93);
}

.studList.active {
  background-color: red;
  color: yellow;
}

.appList.active {
  background-color: red;
  color: yellow;
}
.scroll {
  max-height: 80vh;
  overflow-y: scroll;
}
.pagination.active {
  background-color: rgb(137, 216, 240);
}

.feedback.active {
  background-color: rgba(4, 151, 119, 0.836);
  color: white;
}

.z-4 {
  position: relative;
  z-index: 4;
}

.z-5 {
  position: relative;
  z-index: 5;
}

.z-6 {
  position: relative;
  z-index: 6;
}
.z-7 {
  position: relative;
  z-index: 7;
}
.z-8 {
  position: relative;
  z-index: 8;
}

.myGrid:hover {
  background-color: rgb(225, 228, 228);
  cursor: pointer;
}

.myGrid.active {
  background-color: rgb(234, 250, 246);
}
.mb-6 {
  margin-bottom: 3%;
}
